/* font "Merriweather", normal, 400 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.otf) format("otf"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.svg#Merriweather-Regular) format("svg"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.ttf) format("truetype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff) format("woff"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Merriweather", bold, 700 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.otf) format("otf"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.svg#Merriweather-Bold) format("svg"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.ttf) format("truetype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff) format("woff"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Inter", normal, 400 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Inter", bold, 700 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Bold/Inter-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Bold/Inter-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Bold/Inter-Bold.otf) format("otf"), url(../../fonts/Inter-Bold/Inter-Bold.svg#Inter-Bold) format("svg"), url(../../fonts/Inter-Bold/Inter-Bold.ttf) format("truetype"), url(../../fonts/Inter-Bold/Inter-Bold.woff) format("woff"), url(../../fonts/Inter-Bold/Inter-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Merriweather", normal, 400 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.otf) format("otf"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.svg#Merriweather-Regular) format("svg"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.ttf) format("truetype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff) format("woff"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Merriweather", bold, 700 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.otf) format("otf"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.svg#Merriweather-Bold) format("svg"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.ttf) format("truetype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff) format("woff"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Inter", normal, 400 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Inter", bold, 700 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Bold/Inter-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Bold/Inter-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Bold/Inter-Bold.otf) format("otf"), url(../../fonts/Inter-Bold/Inter-Bold.svg#Inter-Bold) format("svg"), url(../../fonts/Inter-Bold/Inter-Bold.ttf) format("truetype"), url(../../fonts/Inter-Bold/Inter-Bold.woff) format("woff"), url(../../fonts/Inter-Bold/Inter-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.main__portfolio-content-wrapper, .main__skills-wrapper, .header__container {
  max-width: 1400px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

.header__container .header__nav-wrapper .header__lang-wrapper .header__ru-sign, .header__container .header__nav-wrapper .header__lang-wrapper .header__slash-sign, .header__container .header__nav-wrapper .header__lang-wrapper .header__en-sign {
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}

.main__portfolio-content-wrapper .main__portfolio-headline-wrapper, .main__skills-wrapper .main__skills-headline-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

/* font "Merriweather", normal, 400 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.otf) format("otf"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.svg#Merriweather-Regular) format("svg"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.ttf) format("truetype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff) format("woff"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Merriweather", bold, 700 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.otf) format("otf"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.svg#Merriweather-Bold) format("svg"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.ttf) format("truetype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff) format("woff"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Inter", normal, 400 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Inter", bold, 700 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Bold/Inter-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Bold/Inter-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Bold/Inter-Bold.otf) format("otf"), url(../../fonts/Inter-Bold/Inter-Bold.svg#Inter-Bold) format("svg"), url(../../fonts/Inter-Bold/Inter-Bold.ttf) format("truetype"), url(../../fonts/Inter-Bold/Inter-Bold.woff) format("woff"), url(../../fonts/Inter-Bold/Inter-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Merriweather", normal, 400 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.otf) format("otf"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.svg#Merriweather-Regular) format("svg"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.ttf) format("truetype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff) format("woff"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Merriweather", bold, 700 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.otf) format("otf"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.svg#Merriweather-Bold) format("svg"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.ttf) format("truetype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff) format("woff"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Inter", normal, 400 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Inter", bold, 700 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Bold/Inter-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Bold/Inter-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Bold/Inter-Bold.otf) format("otf"), url(../../fonts/Inter-Bold/Inter-Bold.svg#Inter-Bold) format("svg"), url(../../fonts/Inter-Bold/Inter-Bold.ttf) format("truetype"), url(../../fonts/Inter-Bold/Inter-Bold.woff) format("woff"), url(../../fonts/Inter-Bold/Inter-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.main__portfolio-content-wrapper, .main__skills-wrapper, .header__container {
  max-width: 1400px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

.header__container .header__nav-wrapper .header__lang-wrapper .header__ru-sign, .header__container .header__nav-wrapper .header__lang-wrapper .header__slash-sign, .header__container .header__nav-wrapper .header__lang-wrapper .header__en-sign {
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}

.main__portfolio-content-wrapper .main__portfolio-headline-wrapper, .main__skills-wrapper .main__skills-headline-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header__container {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
}
.header__container .header__nav-wrapper {
  display: flex;
}
.header__container .header__nav-wrapper .header__nav {
  padding-inline: 30px;
}
.header__container .header__nav-wrapper .header__nav .header__nav-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__container .header__nav-wrapper .header__nav .header__nav-list .header__nav-list-item .header__link {
  font-family: "Inter";
  font-size: 20px;
  line-height: 50px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.header__container .header__nav-wrapper .header__nav .header__nav-list .header__nav-list-item .header__link:hover {
  color: #bdae82;
}
.header__container .header__nav-wrapper .header__lang-wrapper {
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.header__container .header__nav-wrapper .header__lang-wrapper .header__en-sign {
  color: #bdae82;
}
.header__container .header__nav-wrapper .header__lang-wrapper .header__slash-sign {
  color: white;
}
.header__container .header__nav-wrapper .header__lang-wrapper .header__ru-sign {
  color: white;
}

/* font "Merriweather", normal, 400 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.otf) format("otf"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.svg#Merriweather-Regular) format("svg"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.ttf) format("truetype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff) format("woff"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Merriweather", bold, 700 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.otf) format("otf"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.svg#Merriweather-Bold) format("svg"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.ttf) format("truetype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff) format("woff"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Inter", normal, 400 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Inter", bold, 700 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Bold/Inter-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Bold/Inter-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Bold/Inter-Bold.otf) format("otf"), url(../../fonts/Inter-Bold/Inter-Bold.svg#Inter-Bold) format("svg"), url(../../fonts/Inter-Bold/Inter-Bold.ttf) format("truetype"), url(../../fonts/Inter-Bold/Inter-Bold.woff) format("woff"), url(../../fonts/Inter-Bold/Inter-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Merriweather", normal, 400 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.otf) format("otf"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.svg#Merriweather-Regular) format("svg"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.ttf) format("truetype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff) format("woff"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Merriweather", bold, 700 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.otf) format("otf"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.svg#Merriweather-Bold) format("svg"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.ttf) format("truetype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff) format("woff"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Inter", normal, 400 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Inter", bold, 700 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Bold/Inter-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Bold/Inter-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Bold/Inter-Bold.otf) format("otf"), url(../../fonts/Inter-Bold/Inter-Bold.svg#Inter-Bold) format("svg"), url(../../fonts/Inter-Bold/Inter-Bold.ttf) format("truetype"), url(../../fonts/Inter-Bold/Inter-Bold.woff) format("woff"), url(../../fonts/Inter-Bold/Inter-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.main__portfolio-content-wrapper, .main__skills-wrapper, .header__container {
  max-width: 1400px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

.header__container .header__nav-wrapper .header__lang-wrapper .header__en-sign, .header__container .header__nav-wrapper .header__lang-wrapper .header__slash-sign, .header__container .header__nav-wrapper .header__lang-wrapper .header__ru-sign {
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}

.main__portfolio-content-wrapper .main__portfolio-headline-wrapper, .main__skills-wrapper .main__skills-headline-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.main__portfolio-cover-wrapper {
  min-height: 910px;
  padding-top: 250px;
  padding-left: 80px;
  margin-bottom: 100px;
  background-image: url("../../img/main/woman-with-camera.png");
  background-size: cover;
}
.main__portfolio-cover-wrapper .main__portfolio-info-wrapper {
  max-width: 500px;
}
.main__portfolio-cover-wrapper .main__portfolio-info-wrapper .main__person-name-headline {
  margin-bottom: 10px;
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: white;
}
.main__portfolio-cover-wrapper .main__portfolio-info-wrapper .main__person-info-text {
  max-width: 470px;
  margin-bottom: 25px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 40px;
  color: white;
}
.main__portfolio-cover-wrapper .main__portfolio-info-wrapper .main__btn-hire-me {
  max-width: 220px;
  width: 100%;
  padding: 8px 40px 7px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: black;
  background-color: #bdae82;
  border: 2px solid #bdae82;
  cursor: pointer;
  transition: 0.3s;
}
.main__portfolio-cover-wrapper .main__portfolio-info-wrapper .main__btn-hire-me:hover {
  color: white;
}
.main__skills-wrapper {
  margin-bottom: 100px;
}
.main__skills-wrapper .main__skills-headline-wrapper {
  margin-bottom: 60px;
}
.main__skills-wrapper .main__skills-headline-wrapper .main__skills-headline-line {
  width: 274px;
  height: 2px;
  background-color: #bdae82;
}
.main__skills-wrapper .main__skills-headline-wrapper .main__skills-headline-text {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
}
.main__skills-wrapper .main__skills-cards-wrapper {
  display: grid;
  -moz-column-gap: 40px;
       column-gap: 40px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.main__portfolio-content-wrapper {
  margin-bottom: 100px;
}
.main__portfolio-content-wrapper .main__portfolio-headline-wrapper {
  margin-bottom: 60px;
}
.main__portfolio-content-wrapper .main__portfolio-headline-wrapper .main__portfolio-headline-line {
  width: 240px;
  height: 2px;
  background-color: #bdae82;
}
.main__portfolio-content-wrapper .main__portfolio-headline-wrapper .main__portfolio-headline-text {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
}
.main__portfolio-content-wrapper .main__portfolio-content-btns-wrapper {
  margin-bottom: 60px;
  display: grid;
  justify-content: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 220px);
}
.main__portfolio-content-wrapper .main__portfolio-content-btns-wrapper .main__portoflio-content-btn {
  max-width: 220px;
  width: 100%;
  padding: 8px 40px 7px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #bdae82;
  background-color: black;
  border: 2px solid #bdae82;
  cursor: pointer;
  transition: 0.3s;
}
.main__portfolio-content-wrapper .main__portfolio-content-btns-wrapper .main__portoflio-content-btn:hover {
  color: white;
}
.main__portfolio-content-wrapper .main__portfolio-content-btns-wrapper .main__portoflio-content-btn_active {
  color: black;
  background-color: #bdae82;
}
.main__portfolio-content-wrapper .main__portfolio-images-wrapper {
  display: grid;
  gap: 25px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
/* font "Merriweather", normal, 400 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.otf) format("otf"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.svg#Merriweather-Regular) format("svg"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.ttf) format("truetype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff) format("woff"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Merriweather", bold, 700 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.otf) format("otf"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.svg#Merriweather-Bold) format("svg"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.ttf) format("truetype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff) format("woff"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Inter", normal, 400 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Inter", bold, 700 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Bold/Inter-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Bold/Inter-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Bold/Inter-Bold.otf) format("otf"), url(../../fonts/Inter-Bold/Inter-Bold.svg#Inter-Bold) format("svg"), url(../../fonts/Inter-Bold/Inter-Bold.ttf) format("truetype"), url(../../fonts/Inter-Bold/Inter-Bold.woff) format("woff"), url(../../fonts/Inter-Bold/Inter-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Merriweather", normal, 400 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.otf) format("otf"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.svg#Merriweather-Regular) format("svg"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.ttf) format("truetype"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff) format("woff"), url(../../fonts/Merriweather-Regular/Merriweather-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Merriweather", bold, 700 */
@font-face {
  font-family: "Merriweather";
  /* IE9 Compat Modes */
  src: url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Merriweather"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.otf) format("otf"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.svg#Merriweather-Bold) format("svg"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.ttf) format("truetype"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff) format("woff"), url(../../fonts/Merriweather-Bold/Merriweather-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Inter", normal, 400 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Inter", bold, 700 */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Bold/Inter-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Bold/Inter-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Bold/Inter-Bold.otf) format("otf"), url(../../fonts/Inter-Bold/Inter-Bold.svg#Inter-Bold) format("svg"), url(../../fonts/Inter-Bold/Inter-Bold.ttf) format("truetype"), url(../../fonts/Inter-Bold/Inter-Bold.woff) format("woff"), url(../../fonts/Inter-Bold/Inter-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.header__container, .main__skills-wrapper, .main__portfolio-content-wrapper {
  max-width: 1400px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

.header__container .header__nav-wrapper .header__lang-wrapper .header__en-sign, .header__container .header__nav-wrapper .header__lang-wrapper .header__slash-sign, .header__container .header__nav-wrapper .header__lang-wrapper .header__ru-sign {
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}

.main__skills-wrapper .main__skills-headline-wrapper, .main__portfolio-content-wrapper .main__portfolio-headline-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

body {
  background-color: black;
}

.global-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

.skill-card {
  max-width: 320px;
  max-height: 240px;
  padding: 0 20px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.skill-card__img {
  width: 70px;
  height: 50px;
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
}
.skill-card__headline {
  margin-bottom: 20px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 40px;
  color: white;
}
.skill-card__text {
  font-family: "Inter";
  font-size: 18px;
  line-height: 36px;
  color: white;
  text-align: center;
}

.portfolio-img {
  max-width: 450px;
  max-height: 560px;
}/*# sourceMappingURL=glStyle.css.map */