@import "./vars";
@import "./templates";
@import "../header/header";
@import "../main/main";
@import "../footer/footer";

// Just to make sides of large screenes darker
body {
  background-color: $bg-dark-color;
}

// Global container of whole page
.global-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: $bg-dark-color;
}

.skill-card {
  max-width: 320px;
  max-height: 240px;
  padding: 0 20px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__img {
    width: 70px;
    height: 50px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
  }
  &__headline {
    margin-bottom: 20px;
    @include default-p(20px, 40px);
  }
  &__text {
    @include default-p(18px, 36px);
    text-align: center;
  }
}

.portfolio-img {
  max-width: 450px;
  max-height: 560px;
}

.price-card {
  flex-basis: 100%;
  max-width: 450px;
  max-height: 505px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid $gold-color;
  &__headline {
    margin-bottom: 20px;
    @include default-h(28px, 56px, $white-color);
  }
  &__price {
    margin-bottom: 20px;
    @include default-h(24px, 48px, $gold-color);
  }
  &__description-wrapper {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .price-card__feature-description {
      @include default-p(18px, 36px);
    }
  }
  &__btn {
    @include default-btn($bg-dark-color, $gold-color);
  }
}

.socials {
  &__list {
    .socials__list-item {
      .social-link {
        &__instagram {
        }
        &__facebook {
        }
        &__twitter {
        }
        &__pinterest {
        }
      }
    }
  }
}
