@import "./vars";
@import "./templates";
@import "../header/header";
@import "../main/main";
@import "../footer/footer";

// Just to make sides of large screenes darker
body {
  background-color: $bg-dark-color;
}

// Global container of whole page
.global-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: $bg-dark-color;
}

// This class is needed to hide elements (by adding this class)
.hidden-element {
  display: none !important;
}

// This class is needed to make elements appear (by adding this class)
.appeared-block {
  display: block !important;
}

// This class is needed to make elements appear (by adding this class)
.appeared-flex {
  display: flex !important;
}

// Burger menu button
.header__burger-menu-btn {
  position: absolute;
  top: 20px;
  right: 64px;
  z-index: 3;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
  transition: 0.3s;
  display: none;
  @media (max-width: $tablet-l) {
    display: inline-block;
  }
  @media (max-width: $phone-l) {
    right: 14px;
  }
  // Class that is used for burger menu button when this menu is hidden
  &_open {
    background-image: url(../../img/header/burger-menu.svg);
    &:active {
      background-image: url(../../img/header/burger-menu-active.svg);
      transform: scale(1.1);
    }
  }
  // Class that is used for burger menu button when this menu is on the screen
  &_close {
    position: fixed;
    background-image: url(../../img/header/close-btn.svg);
    &:active {
      background-image: url(../../img/header/close-btn-active.svg);
      transform: scale(1.1);
    }
  }
}

.skill-card {
  max-width: 320px;
  min-height: 240px;
  padding: 0 20px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__img {
    width: 70px;
    height: 50px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
  }
  &__headline {
    margin-bottom: 20px;
    @include default-p(20px, 40px);
    text-align: center;
    @media (max-width: $tablet-m) {
      line-height: 24px;
    }
  }
  &__text {
    @include default-p(18px, 36px);
    text-align: center;
    @media (max-width: $tablet-l) {
      line-height: 22px;
    }
  }
}

.portfolio-img {
  max-width: 450px;
  max-height: 560px;
  width: 100%;
  height: auto;
}

.price-card {
  flex-basis: 100%;
  max-width: 450px;
  min-height: 505px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid $gold-color;
  @media (max-width: $phone-m) {
    padding: 20px;
  }
  &__headline {
    margin-bottom: 20px;
    @include default-h(28px, 56px, $white-color);
  }
  &__price {
    margin-bottom: 20px;
    @include default-h(24px, 48px, $gold-color);
  }
  &__description-wrapper {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .price-card__feature-description {
      @include default-p(18px, 36px);
    }
  }
  &__btn {
    @include default-btn($bg-dark-color, $gold-color);
  }
}

.socials {
  padding-block: 9px;
  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    .socials__list-item {
      width: 32px;
      height: 32px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  transition: 0.3s;
  &__instagram {
    background-image: url("../../img/footer/icon-instagram.svg");
    &:hover {
      background-image: url("../../img/footer/icon-instagram-hover.svg");
    }
  }
  &__facebook {
    background-image: url("../../img/footer/icon-facebook.svg");
    &:hover {
      background-image: url("../../img/footer/icon-facebook-hover.svg");
    }
  }
  &__twitter {
    background-image: url("../../img/footer/icon-twitter.svg");
    &:hover {
      background-image: url("../../img/footer/icon-twitter-hover.svg");
    }
  }
  &__pinterest {
    background-image: url("../../img/footer/icon-pinterest.svg");
    &:hover {
      background-image: url("../../img/footer/icon-pinterest-hover.svg");
    }
  }
}

.burger-menu {
  z-index: 2;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 80%;
  &__nav {
    position: relative;
    max-width: 80%;
    width: 100%;
    padding-top: 13.09%;
    padding-left: 20.48%;
    background-color: $bg-dark-color;
    @media (max-width: $tablet-s) {
      padding-top: 15%;
    }
    @media (max-width: $phone-l) {
      padding-top: 25%;
      padding-left: 10%;
    }
    .burger-menu__nav-list {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      .burger-menu__nav-list-item {
        transition: 0.3s;
        &:hover {
          transform: scale(1.1);
          .burger-menu__link {
            color: $gold-color;
          }
        }
        .burger-menu__link {
          font-family: $font-inter;
          font-size: 35px;
          line-height: 73px;
          color: $white-color;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            color: $gold-color;
          }
        }
      }
    }
  }
}
