@import "./vars";
@import "./templates";
@import "../header/header";
@import "../main/main";
@import "../footer/footer";

// Global container of whole page
.global-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.skill-card {
  &__img {
  }
  &__headline {
  }
  &__text {
  }
}

.portfolio-img {
}

.price-card {
  &__haedline {
  }
  &__price {
  }
  &__description-wrapper {
    .price-card__feature-description {
    }
  }
  &__btn {
  }
}

.socials {
  &__list {
    .socials__list-item {
      .social-link {
        &__instagram {
        }
        &__facebook {
        }
        &__twitter {
        }
        &__pinterest {
        }
      }
    }
  }
}
