@import "../glStyle/vars";
@import "../glStyle/templates";

.main {
  &__portfolio-cover-wrapper {
    min-height: 910px;
    padding-top: 250px;
    padding-left: 5.55%;
    margin-bottom: 100px;
    background-image: url("../../img/main/woman-with-camera.png");
    background-size: cover;
    @media (max-width: $laptop-m) {
      background-position: center;
    }
    @media (max-width: $tablet-l) {
      min-height: 590px;
      margin-bottom: 80px;
      padding-left: 7.81%;
    }
    @media (max-width: $phone-l) {
      margin-bottom: 60px;
      padding-top: 150px;
    }
    .main__portfolio-info-wrapper {
      max-width: 500px;
      .main__person-name-headline {
        margin-bottom: 10px;
        @include default-h(60px, 120px, $white-color);
        @media (max-width: $tablet-l) {
          font-size: 32px;
          line-height: 64px;
        }
      }
      .main__person-info-text {
        max-width: 470px;
        margin-bottom: 25px;
        @include default-p(20px, 40px);
        @media (max-width: $tablet-l) {
          max-width: 390px;
          margin-bottom: 60px;
          line-height: 24px;
        }
        @media (max-width: $phone-l) {
          max-width: 250px;
        }
      }
      .main__btn-hire-me {
        @include default-btn($bg-dark-color, $gold-color);
      }
    }
  }
  &__skills-wrapper {
    margin-bottom: 100px;
    @extend %default-container;
    @media (max-width: $tablet-l) {
      margin-bottom: 80px;
    }
    @media (max-width: $phone-l) {
      margin-bottom: 60px;
    }
    .main__skills-headline-wrapper {
      margin-bottom: 60px;
      @extend %default-container-with-side-lines;
      @media (max-width: $tablet-l) {
        margin-bottom: 36px;
      }
      @media (max-width: $phone-l) {
        margin-bottom: 20px;
      }
      .main__skills-headline-line {
        @include gold-line(274px);
        @media (max-width: $tablet-l) {
          width: 117px;
        }
        @media (max-width: $phone-l) {
          width: 78px;
        }
      }
      .main__skills-headline-text {
        @include default-h(40px, 80px, $gold-color);
        @media (max-width: $tablet-l) {
          font-size: 32px;
          line-height: 40px;
        }
      }
    }
    .main__skills-cards-wrapper {
      display: grid;
      justify-items: center;
      column-gap: 40px;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: $pc-m) {
        row-gap: 36px;
        column-gap: 44px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $phone-l) {
        row-gap: 25px;
        column-gap: 5px;
      }
    }
  }
  &__portfolio-content-wrapper {
    margin-bottom: 100px;
    @extend %default-container;
    @media (max-width: $tablet-l) {
      margin-bottom: 80px;
    }
    @media (max-width: $phone-l) {
      margin-bottom: 60px;
    }
    .main__portfolio-headline-wrapper {
      margin-bottom: 60px;
      @extend %default-container-with-side-lines;
      @media (max-width: $tablet-l) {
        margin-bottom: 50px;
      }
      @media (max-width: $phone-l) {
        margin-bottom: 30px;
      }
      .main__portfolio-headline-line {
        @include gold-line(240px);
        @media (max-width: $tablet-l) {
          width: 90px;
        }
        @media (max-width: $phone-l) {
          width: 60px;
        }
      }
      .main__portfolio-headline-text {
        @include default-h(40px, 80px, $gold-color);
        @media (max-width: $tablet-l) {
          font-size: 32px;
        }
      }
    }
    .main__portfolio-content-btns-wrapper {
      margin-bottom: 60px;
      display: grid;
      justify-content: center;
      gap: 5px;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(4, 220px);
      @media (max-width: $laptop-m) {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 220px);
      }
      @media (max-width: $tablet-s) {
        gap: 10px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 220px);
      }
      .main__portoflio-content-btn {
        @include default-btn($gold-color, $bg-dark-color);
        &_active {
          color: $bg-dark-color;
          background-color: $gold-color;
        }
      }
    }
    .main__portfolio-images-wrapper {
      display: grid;
      justify-items: center;
      gap: 25px;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      @media (max-width: $laptop-m) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $tablet-l) {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  &__video-section-wrapper {
    max-width: 1440px;
    width: 100%;
    padding-inline: 20px;
    margin: 0 auto 100px;
    @media (max-width: $tablet-l) {
      margin-bottom: 80px;
      padding-inline: 0;
    }
    @media (max-width: $phone-l) {
      margin-bottom: 60px;
    }
    .main__video-section-headline-wrapper {
      margin-bottom: 60px;
      @extend %default-container-with-side-lines;
      @media (max-width: $tablet-l) {
        margin-bottom: 50px;
      }
      @media (max-width: $phone-l) {
        margin-bottom: 30px;
      }
      .main__video-section-headline-line {
        @include gold-line(272px);
        @media (max-width: $tablet-l) {
          width: 117px;
        }
        @media (max-width: $phone-l) {
          width: 78px;
        }
      }
      .main__video-section-headline-text {
        @include default-h(40px, 80px, $gold-color);
        @media (max-width: $tablet-l) {
          font-size: 32px;
        }
      }
    }
    .main__video-content-wrapper {
      position: relative;
      .main__video-click-btn {
        position: absolute;
        top: 40.85%;
        left: 45.36%;
        z-index: 1;
        width: 9.29%;
        aspect-ratio: 1 / 1;
        border: none;
        background-color: transparent;
        background-image: url(../../img/main/start-video-btn.svg);
        background-size: cover;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-image: url(../../img/main/start-video-btn-hover.svg);
          transform: scale(1.2);
        }
      }
      .main__video {
        width: 100%;
        height: auto;
        object-fit: fill;
      }
    }
  }
  &__price-wrapper {
    margin-bottom: 100px;
    @extend %default-container;
    @media (max-width: $tablet-l) {
      margin-bottom: 80px;
    }
    @media (max-width: $phone-l) {
      margin-bottom: 60px;
    }
    .main__price-headline-wrapper {
      margin-bottom: 60px;
      @extend %default-container-with-side-lines;
      @media (max-width: $tablet-l) {
        margin-bottom: 50px;
      }
      @media (max-width: $phone-l) {
        margin-bottom: 30px;
      }
      .main__price-headline-line {
        @include gold-line(279px);
        @media (max-width: $tablet-l) {
          width: 121px;
        }
        @media (max-width: $phone-l) {
          width: 81px;
        }
      }
      .main__price-headline-text {
        @include default-h(40px, 80px, $gold-color);
        @media (max-width: $tablet-l) {
          font-size: 32px;
        }
      }
    }
    .main__price-cards-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 25px;
      @media (max-width: $tablet-l) {
        gap: 50px;
      }
    }
  }
  &__contact-form-wrapper {
    min-height: 700px;
    padding-top: 60px;
    padding-left: calc(100% - 470px);
    background-image: url("../../img/main/woman-makes-photos.png");
    background-size: cover;
    @media (max-width: $tablet-l) {
      min-height: 600px;
      padding-left: 0;
      display: flex;
      justify-content: center;
      background-position-x: 45%;
    }
    @media (max-width: $phone-l) {
      background-position-x: 20%;
      padding-inline: 10px;
    }
    .main__contact-form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media (max-width: $tablet-l) {
        max-width: 450px;
        width: 100%;
        align-items: center;
      }
      .main__contact-form-headline {
        margin-bottom: 40px;
        @include default-h(40px, 80px, $gold-color);
        @media (max-width: $tablet-l) {
          font-size: 32px;
          line-height: 64px;
        }
      }
      .main__contact-form-email {
        min-height: 50px;
        margin-bottom: 20px;
        @extend %default-form-input;
      }
      .main__contact-form-phone {
        min-height: 50px;
        margin-bottom: 20px;
        @extend %default-form-input;
      }
      .main__contact-form-msg {
        min-height: 100px;
        margin-bottom: 30px;
        @extend %default-form-input;
        resize: none;
      }
      .main__contact-form-submit-btn {
        @include default-btn($bg-dark-color, $gold-color);
      }
    }
  }
}
