@import "../glStyle/vars";
@import "../glStyle/templates";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  &__container {
    position: relative;
    padding-block: 20px;
    @extend %default-container;
    display: flex;
    justify-content: space-between;
    .header__logo {
      width: 50px;
      height: 50px;
      background-image: url("../../img/header/camera.svg");
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
        content: url("../../img/header/camera-hover.svg");
      }
    }
    .header__nav-wrapper {
      display: flex;
      @media (max-width: $tablet-l) {
        column-gap: 20px;
      }
      .header__nav {
        padding-inline: 30px;
        @media (max-width: $tablet-l) {
          display: none;
        }
        .header__nav-list {
          display: flex;
          column-gap: 30px;
          .header__nav-list-item {
            transition: 0.3s;
            &:hover {
              transform: scale(1.1);
              .header__link {
                color: $gold-color;
              }
            }
            .header__link {
              @include default-a;
            }
          }
        }
      }
      .header__lang-wrapper {
        display: flex;
        column-gap: 9px;
        .header__en-sign {
          @extend %default-language-sign;
          color: $gold-color;
        }
        .header__slash-sign {
          @extend %default-language-sign;
          color: $white-color;
        }
        .header__ru-sign {
          @extend %default-language-sign;
          color: $white-color;
        }
      }
      .header__space-for-burger-menu-btn {
        width: 50px;
        height: 50px;
      }
    }
  }
}
